@font-face {
    font-family: 'Lust Pro No 5';
    src: url('../fonts/LustPro-No5.woff2') format('woff2'),
        url('../fonts/LustPro-No5.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

