<footer id="footer">
  <div class="sqs-layout sqs-grid-1 columns-1" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1519105846541" id="footerBlock">
    <div class="row sqs-row">
      <div class="col sqs-col-1 span-1">
        <div class="sqs-block html-block sqs-block-html">
          <div class="sqs-block-content">
            {%- include social.html -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
