<p>
  {%- if site.instagram_username -%}
    <a target="_blank" href="http://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">INSTAGRAM</a>&nbsp;/
  {%- endif -%}
  {%- if site.twitter_username -%}
    &nbsp;<a target="_blank" href="http://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">TWITTER</a>&nbsp;/
  {%- endif -%}
  {%- if site.vimeo_username -%}
    &nbsp;<a target="_blank" href="http://vimeo.com/{{ site.vimeo_username| cgi_escape | escape }}">VIMEO</a>&nbsp;/
  {%- endif -%}
  {%- if site.linkedin_username -%}
    &nbsp;<a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">LINKEDIN</a>&nbsp;/
  {%- endif -%}
  {%- if site.imdb_username -%}
    &nbsp;<a target="_blank" href="http://www.imdb.com/name/{{ site.imdb_username| cgi_escape | escape }}">IMDB</a>&nbsp;/
  {%- endif -%}
  {%- if site.youtube_channel_id -%}
    &nbsp;<a target="_blank" href="https://www.youtube.com/channel/{{ site.youtube_channel_id| cgi_escape | escape }}">YOUTUBE</a>&nbsp;/
  {%- endif -%}
  {%- if site.email -%}
    &nbsp;<a target="_blank" href="mailto:{{ site.email }}">EMAIL</a>
  {%- endif -%}
</p>