---
layout: default
---
<style>
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
<section id="page" role="main" data-content-field="main-content" class="page-open">
  <!-- CATEGORY NAV -->
  <div id="projectPages" data-collection-id="">
    <div class="project gallery-project active-project" data-url="/theheights/" id="yui_3_17_2_1_1540855248113_99">
      <div class="project-meta">
        <h2 class="project-title">{{ page.title | escape }}</h2>
        <div class="project-description">
          {{ content }}
        </div>
      </div>
      <div class="image-list" id="">
        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube_video_id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="project-controls">
      <div>
        <!-- <div id="projectNav"><span class="prev-project disabled">prev</span> / <span class="next-project">next</span></div> -->
        <a href="{{site.baseurl}}">Back to Portfolio</a>
      </div>
    </div>
  </div>
  {%- include project-thumbs.html -%}

</section>

<!--       <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time> -->

